/* 
DARK GREEN - 0B3D40
DARK MINT GREEN - 0F5C61
LIGHTER SADE DARK MINT GREEN - 178A90 (HOSPITAL MASK COLOR)
LIGHT MINT GREEN - 4DC4CB 
VERY LIGHT MINT GREEN - D6F3F5
LIGHT GREEN + WHITE  EEF9FA
CREAM - F7F4EF

*/
/* *{
    outline: 1px solid red;
} */
body{
    background-color: #f7f4ef;
    font-family: "inter",serif;
}
#navbar{
    background: #178A90 ;
}
.counters{
    background-color: #4DC4CB;
    height: 40px;
}
#workArea{
    background-color: #EEF9FA;
    height: 425px !important;
    overflow-y: auto !important;
}
.table{
    height: 200px !important;
    overflow-y: auto !important;
}
#sidebar{
    background-color: #178A90;
    height: 96vh;
}
#personalDetails{
    display: block;
}
/* #appointmentDetails{
    display: none;
} */

#brandLogo{
    width: 45px;
    height: 45px;
}
#workspaceDashboard{
    /* display: none; */
}

.profilePicture{
    width: 200px;
    height: 200px;
}
#profileImageBorder{
    width: 230px;
    height: 230px;
    background-color: #178A90; 
}

#filter{
    width:150px ;
}

#statusFilter{
    width: 200px;
}
/* #workspaceRequest{

} */

/* #workspaceDashboard{
    display: none;
} */
.workspaceAppointments{
    display: none ;
}
.workSpaceRequests{
    display: none ;
}
.notSeen{
    display: none !important;
}

.seen{
    display: block !important;
}


#sidebar{
    background-color: #178A90;
    min-height: 100vh;
}

#brandLogo{
    width: 45px;
    height: 45px;
}

.menu button{
    transition: 0.3s;
}

.menu button:hover{
    background-color: rgba(255,255,255,0.15);
}

@media (max-width: 991px){

    #sidebar{
        width: 280px !important;
        min-height: 100vh;
    }

    .menu button{
        justify-content: flex-start;
    }
}