body{
    font-family: "inter",serif;
}

#adminLoginArea{
    background: linear-gradient(#3674B5,#578FCA,#A1E3F9,#D1F8EF);
}

#adminLoginImage{
    height: 695px;
    width: 100%;
}
#adminLoginBtn{
    background-color: #578FCA;
}
#adminLoginHeading{
    font-weight: bold;
}
label{
    font-weight: 600;
}

.error{
    color: red;
}